#%RAML 1.0
---

title: Customs Inventory Linking Imports
version: 2.0
protocols: [ HTTPS ]
baseUri: https://api.service.hmrc.gov.uk/
mediaType: application/xml

uses:
  sec: https://developer.service.hmrc.gov.uk/api-documentation/assets/common/modules/securitySchemes.raml
  annotations: https://developer.service.hmrc.gov.uk/api-documentation/assets/common/modules/annotations.raml
  types: https://developer.service.hmrc.gov.uk/api-documentation/assets/common/modules/types.raml

documentation:
  - title: Overview
    content: !include docs/overview.md
  - title: Versioning
    content: !include https://developer.service.hmrc.gov.uk/api-documentation/assets/common/docs/versioning.md
  - title: Errors
    content: !include https://developer.service.hmrc.gov.uk/api-documentation/assets/common/docs/errors.md
  - title: Testing
    content: !include docs/testing.md

/customs/inventory-linking-imports:
  /movement-validation:
    post:
      displayName: Inventory Linking Imports Validate Movement Response
      description: This validate movement response message is provided by the CSP as a result of a previous validate movement request. It represents the (positive/negative) outcome of matching a declaration Id (MRN) against the provided Inventory Consignment Reference (ICR)
      headers:
        Accept:
          description: Specifies the version of the API that you want to call. See [versioning](/api-documentation/docs/reference-guide#versioning).
          type: string
          required: true
          example: application/vnd.hmrc.2.0+xml
        Content-Type:
          description: Specifies the format of the request body, which must be XML. Download [schemas](/api-documentation/docs/api/download/customs-inventory-linking-imports/2.0/inventory-linking-imports-schemas.zip).
          type: string
          required: true
          example: application/xml; charset=UTF-8
        X-Badge-Identifier:
          description: |
            Represents the end-user who is interacting with the subscribed application.

            Must be 6 to 12 numbers and upper-case letters.
          type: string
          required: false
          example: ABC123
        X-Submitter-Identifier:
          description: |
            The EORI associated with the originating owner of the declaration.

            Must be numbers and upper-case letters with a maximum length of 17 characters.
          type: string
          required: false
          example: GB123456789000
        X-Correlation-ID:
          description: Alpha-numeric, maximum length is 36. Specifies the correlation id sent in the movement validation request. Returning the request correlation id in the movement validation response permits backend reconciliation of request and response.
          type: string
          required: true
          example: ABC123

      (annotations.scope): "write:customs-il-imports-movement-validation"
      securedBy: [ sec.oauth_2_0: { scopes: [ "write:customs-il-imports-movement-validation" ] } ]
      body:
        application/xml:
          type: !include schemas/imports/inventoryLinkingImportValidateMovementResponse.xsd
          example: !include examples/ValidateMovementResponse.xml

      responses:
        202:
        400:
          body:
            application/xml:
              description: Invalid XML Payload
              type: !include schemas/customs/error.xsd
              example: |
                  <?xml version="1.0" encoding="UTF-8"?>
                  <errorResponse>
                      <code>BAD_REQUEST</code>
                      <message>Payload is not valid according to schema</message>
                      <errors>
                          <error>
                              <code>xml_validation_error</code>
                              <message>Error at line 13, column 13: no declaration found for element 'unknown'</message>
                          </error>
                      </errors>
                  </errorResponse>
        500:
          body:
            application/xml:
              description: Internal server error
              type: !include schemas/customs/error.xsd
              example: |
                  <?xml version="1.0" encoding="UTF-8"?>
                  <errorResponse>
                      <code>INTERNAL_SERVER_ERROR</code>
                      <message>Internal server error</message>
                  </errorResponse>

  /arrival-notifications:
    post:
      displayName: Inventory Linking Imports Goods Arrival
      description: CSPs requesting to present their goods to Customs.
      headers:
        Accept:
          description: Specifies the version of the API that you want to call. See [versioning](/api-documentation/docs/reference-guide#versioning).
          type: string
          required: true
          example: application/vnd.hmrc.2.0+xml
        Content-Type:
          description: Specifies the format of the request body, which must be XML. Download [schemas](/api-documentation/docs/api/download/customs-inventory-linking-imports/2.0/inventory-linking-imports-schemas.zip).
          type: string
          required: true
          example: application/xml; charset=UTF-8
        X-Badge-Identifier:
          description: |
            Represents the end-user who is interacting with the subscribed application.

            Must be 6 to 12 numbers and upper-case letters.
          type: string
          required: false
          example: ABC123
        X-Submitter-Identifier:
          description: |
            The EORI associated with the originating owner of the declaration.

            Must be numbers and upper-case letters with a maximum length of 17 characters.
          type: string
          required: false
          example: GB123456789000

      (annotations.scope): "write:customs-il-imports-arrival-notifications"
      securedBy: [ sec.oauth_2_0: { scopes: [ "write:customs-il-imports-arrival-notifications" ] } ]
      body:
        application/xml:
          type: !include schemas/imports/inventoryLinkingImportArriveGoods.xsd
          example: !include examples/GoodsArrivalNotification.xml

      responses:
        202:
        400:
          body:
            application/xml:
              description: Invalid XML Payload
              type: !include schemas/customs/error.xsd
              example: |
                  <?xml version="1.0" encoding="UTF-8"?>
                  <errorResponse>
                      <code>BAD_REQUEST</code>
                      <message>Payload is not valid according to schema</message>
                      <errors>
                          <error>
                              <code>xml_validation_error</code>
                              <message>Error at line 13, column 13: no declaration found for element 'unknown'</message>
                          </error>
                      </errors>
                  </errorResponse>
        500:
          body:
            application/xml:
              description: Internal server error
              type: !include schemas/customs/error.xsd
              example: |
                  <?xml version="1.0" encoding="UTF-8"?>
                  <errorResponse>
                      <code>INTERNAL_SERVER_ERROR</code>
                      <message>Internal server error</message>
                  </errorResponse>
